{% extends 'base.html' %} {% block content %}
<hr>
<hr>
<hr>
<div class=" container  details-card">
    <h1>Case Details</h1>

    <div class="row">


        <div class=" div1 column col-12 col-lg-6 card">
            <h3 class="card-title "><button class="btn-d">Brand: {{ case.brand }}</button> </h3>
            <p class="card-text "> <button class="btn-d">Tower Type: {{ case.type }}</button>
            </p>
            <p class="card-text "> <button class="btn-d">Case Material: {{ case.material }}</button>
            </p>
            <p class="card-text "> <button class="btn-d">Price: {{ case.price }}</button>
            </p>

            {% if user.is_authenticated and user.id != request.id %}
            <div class="column">
                <a class="btn btn-info" href="{% url 'cases_update' case.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'cases_delete' case.id %}">Delete</a>
            </div>

            {%endif%}
        </div>


        <div class=" div2 column col-12 col-lg-6 card">
            <br><br> {% if user.is_authenticated and request.id != user.id %} {% for photo in case.photo_set.all %}
            <img class="card-panel" src="{{photo.url}}"> {% empty %}
            <div class="card-panel card-body teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <br><br>
            <form class="photo_form" action="{% url 'add_photo' case.id %}" enctype="multipart/form-data" method="POST" alt="Case Photo" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn btn-success " value="Upload Photo">
            </form>
            {% endif %}
            <br>
        </div>

    </div>
    <div class="row">
        <div class="comp1 column col-12 col-lg-6 card">
            <div class=" parent col s6">
                <h3>{{ case.brand }}'s Components</h3>
                {% if case.components.count%} {% for component in case.components.all %}
                <div class="card  ">
                    <div class=" card-content">
                        <span class="card-title">
                  <div>
                    {{ component.brand }} {{ component.hardware }} {{component.picture}}
                  </div>
                </span>
                    </div>
                    <div class=" card-action">
                        {% if request.id != user.id %}
                        <form action="{% url 'unassoc_component' case.id component.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger ">Remove</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %} {% else %}
                <h5>No Components :(</h5>
                {% endif %}
            </div>
        </div>
        <div class="comp2 column col-12 col-lg-6 card">
            <h3>Available Components</h3>
            {% if components.count %} {% for component in components.all %}
            <div class="card row">
                <div class=" col-6 card-content">
                    <span class="card-title">
            {{ component.picture }}
            {{ component.brand }}
            {{ component.part }}
            {{ component.price}}
          </span>
                </div>
                <div class=" col-6 card-action">
                    <form action="{% url 'assoc_component' case.id component.id %}" method="POST">
                        {% csrf_token %} {% if user.is_authenticated and request.id != user.id %}
                        <button type="submit" class="btn btn-success">Add</button> {% endif %}
                    </form>
                </div>
            </div>
            {% endfor %} {% else %}
            <h5>{{case.brand}} Already Has All Components Available</h5>
            {% endif %}
        </div>
    </div>
    <div class="comment-section row">

        <form class="form comment-table" action="{% url 'add_comment' case.id %}" method="POST">

            <br> {% csrf_token %} {{ comment_form.as_p }}

            <input type="submit" class="btn btn-success " value="Add Comment">
            <br>
            <br>
        </form>

        <table class=" comment-table table table-striped table-hover">

            <thead>

                <tr style="background-color: lightgrey;">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in case.comment_set.all %}
                <tr>
                    <td>{{comment.created_on}}</td>
                    <td>{{comment.name}}</td>
                    <td>{{comment.comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>


    </div>
</div>
<br>

<br> {% endblock %}