{% extends 'base.html' %}
{% block content %}
<h1>Case Details</h1>
<div class="card">
   
    <div class="card-content">
        <span class="card-title">{{ case.name }}</span>
        <p > Tower Type: {{ case.type }}</p>
        <p > Case Material: {{ case.material }}</p>
        <p > Price: {{ case.price }}</p>
        <p > Color: {{ case.color }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'cases_update' case.id %}">Edit</a>
        <a href="{% url 'cases_delete' case.id %}">Delete</a>
    </div>
</div>

{% endblock %}