
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
    <h1>BARcode Team</h1>
    <p>Adios Everyone! If I don't hear back from you today I will see yall bright and early tomorrow! - Michael</p>

    

    <hr />
    <div style="float: left;;">
<img src="/static/css/images/zoom.png" style="height: 500px;width: 800px;margin-top: 0;"> 
</div> 

<div style="float:right;margin-right: 150px;">
<h3>Team Member</h3>
 <br>
<h5>Rusen Seran</h5>
<p>Github Manager & Designer</p>
<a href="https://www.linkedin.com/in/rusenseran/" style="text-decoration:none;font-family: 'Gill Sans';color:black">Linkedin</a>
<a href="https://github.com/russeran/" style="text-decoration:none;font-family: 'Gill Sans';color:black">Github</a>
<br><br><br>
<h5>Alex Chen</h5>
<p>Database Manager</p>
<a href="www.linkedin.com/in/alextchen207" style="text-decoration:none;font-family: 'Gill Sans';color:black">Linkedin</a>
<a href="https://github.com/AlexChen208" style="text-decoration:none;font-family: 'Gill Sans';color:black">Github</a>
<br><br><br>
<h5>Baoying Cai</h5>
<p>Scrum Master & Documenter</p>
<a href="https://www.linkedin.com/in/baoying-cai-a22544238/" style="text-decoration:none;font-family: 'Gill Sans';color:black;margin-top: 0;" >Linkedin</a>
<a href="https://github.com/bonniecai430/" style="text-decoration:none;font-family: 'Gill Sans';color:black">Github</a>
</div>

    {% endblock %}


