
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
    <h1>BARcode Team</h1>
    <p>One click away from building your dream pc</p>

    <hr />
    
<img src="/static/css/images/zoom.png" style="display: inline-block;height: 500px;width: 800px;margin-top: 0;">
<div style="display:inline-block;margin:50px;padding: 5px;">
 <h3>Team Member</h3>
 <br><br>
<h5>Rusen Seran</h5>
<p>Github Manager & Designer</p>
<a href="www.linkedin.com/in/alextchen207" style="text-decoration:none;font-family: 'Gill Sans';color:black">Linkedin</a>
<br><br><br>
<h5>Alex Chen</h5>
<p>Database Manager</p>
<a href="www.linkedin.com/in/alextchen207" style="text-decoration:none;font-family: 'Gill Sans';color:black">Linkedin</a>
<br><br><br>
<h5>Baoying Cai</h5>
<p>Scrum Master & Documenter</p>
<a href="https://www.linkedin.com/in/baoying-cai-a22544238/" style="text-decoration:none;font-family: 'Gill Sans';color:black;margin-top: 0;" >Linkedin</a>



 </div>
    
    
    {% endblock %}


