{% extends 'base.html' %} {% block content %}
<hr>
<hr>
<hr>
<hr>
<h1>PC Builds</h1>

{% for case in cases %}

<div class="card">

    <div class="card-body  ">
        <h3 class="card-title "> Brand: {{ case.brand }}</h3>
        <p class="card-text "> Tower Type: {{ case.type }}</p>
        <p class="card-text "> Case Material: {{ case.material }}</p>
        <p class="card-text "> Price: {{ case.price }}</p>
        <p class="card-text "> Color: {{ case.color }}</p>
        <a class="btn btn-primary " href="{%url 'detail' case.id%} ">DETAILS</a>
    </div>
    <br>
</div>

{% endfor %} {% endblock %}