body {
    background-image: url("https://imgur.com/m9vV61h");
    background-color: white;
    font-family: 'Roboto', sans-serif, 'Open Sans', sans-serif;
}

.card {
    margin: 0.3rem;
    display: inline-block;
    width: 23rem;
    background-color: #e3b448;
    text-align: center;
}

.details-card {
    margin: 0.3rem;
    display: inline-block;
    width: 85rem;
    background-color: hsla(0, 11%, 91%, 0.2);
    text-align: center;
}

.column {
    display: inline-block;
    align-items: center;
}

.form {
    background-color: rgb(219, 180, 90);
}

footer {
    background-color: #b3ab97;
    padding: 0.1rem;
    text-align: center;
    opacity: 0.6;
}

.page-footer {
    height: 3rem;
}

.card-panel {
    height: 15rem;
    width: 15rem;
    margin: auto;
}

.photo_form {
    margin: auto;
}

.create-case {
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 30rem;
    align-items: center;
}


/* case details div in detail page */

.div1 {
    float: left;
    width: 48%;
    background: rgb(150, 174, 150);
    height: 30rem;
    border: black solid 1px;
    padding: 2rem;
}


/* photo div in detail page */

.div2 {
    float: right;
    width: 48%;
    background: rgb(192, 205, 209);
    height: 30rem;
    border: black solid 1px;
    padding: 2rem;
}

.comp1 {
    padding: 2rem;
    float: left;
    width: 48%;
    background: rgb(150, 174, 150);
    height: 15rem;
    border: black solid 1px;
}


/* photo div in detail page */

.comp2 {
    float: right;
    width: 48%;
    background: rgb(192, 205, 209);
    height: 15rem;
    border: black solid 1px;
    padding: 2rem;
}

.comment-section {
    width: 100%;
    height: 15rem;
    border: black solid 1px;
    float: left;
}

.comment-table {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    margin-right: 2rem;
}

.btn-d {
    width: 20rem;
    height: 5rem;
}

.login {
    margin: 5rem;
    border: solid 1px black;
    width: 25rem;
    height: 12em;
    padding: 1rem;
    background-color: goldenrod;
}

.signup {
    margin: 5rem;
    border: solid 1px black;
    width: 50rem;
    height: 30rem;
    padding: 1rem;
    background-color: goldenrod;
}